$_cream-color: #faf6f0;
$_cream-hover-color: #bf914c;
$_white:#fff;
$_gray : gray;
$_dark-cream-color: #F5EEE3;
<<<<<<< HEAD
$_our-chefs-color: rgba(245,238,227,0.01);
$_font-body: 'forum', cursive;
$_font-button: 'roboto', serif;
=======
$_our-chefs-color: rgba(245,238,227,0.06);

>>>>>>> 489578e240f9477c534d39b9269019395aae2d4e
