.about-us{
  .about-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 26em;
    align-items: center;
    justify-items: center;
    
  }
  
  #about-gallery-position{
    position: relative;
    top: -5em;
    
    img{
      border: 2em solid white;
      border-radius: 50%;
    }
  }
  .about-header{
    display: flex;
    justify-content: center;
    justify-self: baseline;
    margin: 0 auto;
    .about-logo{
      position: relative;
      left: 10em;
      bottom: 7em;
      justify-self: flex-end;
    }
  }
  
  .about-body{
    margin: 0 auto;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    gap: 5%;
      .presentation{
        text-align: end;
      }

      .about-quote{
        font-size: 2em;
        font-style: italic;
        display: grid;
        width: 70%;
        grid-template-columns: 1fr;
        justify-items: start;
        align-items: center;
        gap: 15%;

        blockquote{
          font-weight: lighter;
          width: 15em;
        }
      }

  }
}