.article-cat
{
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 25px;
    text-align:center;
    line-height:30px;
    transform: translatey(-80px);
    article
    {
        background-color: $_white;
        width:140px;
        height:180px;
        text-align:center;
        img
        {
            display:inline-block;
            transform:translatey(40px);
            height:30px;
            width:30px;
        }
        p
        {
            transform: translatey(40px);
        }
    }
    
}

