
/* Image */
.article-cat article img{
    height:30px;
    width:30px;
    transform: translatey(10px);
   }
   
   /* Article cat */
   main .category .article-cat{
    display:flex;
    justify-content:center;
    gap: 25px;
    background-repeat:repeat;
    text-align:center;
    line-height:33.3px;
   }
   
   /* Article */
   .category .article-cat article{
    background-color: $_white;
   } 