   /* Article cat */
main .category .article-cat
{
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 25px;
    background-repeat:repeat;
    text-align:center;
    line-height:30px;
}
   
   /* Article */
.category .article-cat article
{
    background-color: $_white;
    width:140px;
    height:140px;
} 

   /* Paragraph */
.article-cat article p
{
    transform:translatex(0px) translatey(25px);
}
   
   /* Image */
.article-cat article img
{
    display:inline-block;
    transform:translatex(0px) translatey(25px);
    height:30px;
    width:30px;
}