.btn-primary {

	background-color: $_white;

	border: 1px solid lightgray;
	border-radius: 3px;
	color: #000;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1em 1.5em;

	&:hover{
		background-color: $_cream-hover-color;
		border: none
	}
}

.btn-primary-tranparent{
	@extend .btn-primary;
	background-color: transparent;
	color: $_white;
}