.article-cat
{
    display:flex;
    justify-content:center;
    margin: 0 auto;
    gap: 1.5625rem;
    text-align:center;
    line-height:1.875rem;
    transform:scale(1.2);    
    article
    {
        background-color: $_white;
        width:8.75rem;
        height:11.25rem;
        text-align:center;
        img
        {
            display:inline-block;
            transform:translatey(2.5rem);
            height:1.875rem;
            width:1.875rem;
        }
        p
        {
            transform: translatey(2.5rem);
        }
    }
    
}

