/*
h2, .section-header-title
{
    z-index:1;
}

.meatbread
{
    z-index:2;
    display:flex;
    justify-content:space-between;

}

*/
.menu-table
{
    position:relative;
    z-index:3;
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap:20px;
    row-gap:20px;
    
}

.dish
{
    background-color: $_white;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    
    
}
