.our-chefs
{
    .section-header-title
    {
        color: $_white;
    }

    h2
    {
        color: $_our-chefs-color;
    }
}

.chefs-gallery
{
    display:grid;
    grid-template-columns:repeat(4, 1fr); 
    align-items: center;
    justify-items: center;
    .img-chefs
    {
        margin: 0;
        padding: 0;
    }
}