$font-general:  url('https://fonts.googleapis.com/css2?family=Forum&family=Kanit:wght@600&family=Roboto&family=Rosarivo&family=Rubik+Iso&display=swap');

* {
	font-family: $font-general;
	font-family: 'forum', cursive;
}